<h1>New Problem</h1>
<%= form_for(@problem) do |f| %>
  <div class="field">
    <%= f.label :problem_url %><br>
    <%= f.text_field :problem_url %>
  </div>

  <div class="action">
    <%= f.submit %>
  </div>
<% end %>
