<p id='notice'><%= notice %></p>
<p>
  <strong>ContestName:</strong>
  <%= @contest.contest_name %>
</p>
<p>
  <strong>StartTime:</strong>
  <%= @contest.start_time %>
</p>
<p>
  <strong>EndingTime:</strong>
  <%= @contest.ending_time %>
</p>
